:root {
    --main-heading-color: #FFFFFF;
    --main-text-color: #FFFFFF;
    --secondary-text-color: #D9D9D9;
    --first-background-color: #202023;
    --secondary-background-color: rgba(242, 242, 242, 0.3);
    --accent-color: #C85312;
    --hover-color: #EBAD51;
    --bg-btn-color: #B47B48;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--main-text-color);
    font-size: 24px;
    line-height: 1.2;
    /* letter-spacing: 0.02em; */
    background-color: var(--first-background-color);
}

.btn {
    color: currentColor;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid tomato;
}

/* font-family: "Italiana", sans-serif; */

/* header */
.header {
    padding-top: 56px;
}
.nav-list {
    display: flex;
    gap: 30px;
    font-weight: 200;
}


/* hero */

.hero {
    padding-top: 156px;
    padding-bottom: 36px;
}

.hero-title {
    margin-bottom: 24px;
    font-weight: 200;
    font-size: 70px;
}

.hero-text {
    margin-bottom: 48px;
    width: 570px;
    font-weight: 300;
    font-size: 21px;
}

.hero-btn {
    padding: 14px 36px;
    margin-bottom: 124px;
    border-radius: 16px;
    background-color: var(--bg-btn-color);
    font-weight: 300;
    font-size: 24px;
}

.hero-list {
    display: flex;
    gap: 112px;
    /* justify-content: space-between; */
}

.hero-list-item {
    display: flex;
    align-items: center;
    width: calc((100% - 224px) / 3);
    outline: 1px solid #C85312;
}

.hero-list-item > .thumb {
    height: 225px;
    min-width: 200px;
}

.thumb > img {
    height: 100%;
    object-fit: contain;
    /* object-position: bottom; */
    object-position: center;
}

.hero-list-item:first-child img {
    object-position: center -28px;
}

.hero-item-info > .price {
    margin-bottom: 12px;
    font-weight: 200;
}

.hero-item-info > .name {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 16px;  
}

.hero-item-info > .btn {
    padding: 8px 22px;
    background-color: var(--accent-color);
    font-weight: 900;
    font-size: 16px;
}

/* menu */

.menu {
    padding-top: 21px;
    padding-bottom: 72px;
    padding-top: 44px;
    padding-bottom: 48px;
}

.menu-title {
    font-weight: 100;
    font-size: 64px;
}

.menu-item-name {
    font-weight: 800;
    font-size: 24px;
}

.menu-item > .btn {
    padding: 4px 42px;
    border-radius: 16px;
    background-color: var(--bg-btn-color);
    font-weight: 800;
}

/* quality */
.quality {
    padding-top: 90px;
    padding-bottom: 48px;
}
.quality-title {
    font-family: "Italiana", sans-serif; 
    font-size: 64px;
    font-weight: 400;
}

.quality-item > ol {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    background: var(--secondary-background-color);
    backdrop-filter: blur(36px);
    font-weight: 500;
}

/* why */
.why {
    padding-top: 56px;
    padding-bottom: 52px;
}

.why-title {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: var(--secondary-text-color);
}

.why-item > h3 {
    font-weight: 700;
    font-size: 24px;
}

/* contacts */

.contacts {
    padding-top: 64px;
    padding-bottom: 44px;
}

.contacts-title {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-size: 48px;
}

.contacts-item > h3 {
    font-weight: 400;
    font-size: 40px;
}

.contacts-item:first-child > ul {
    font-weight: 300;
    font-size: 24px;
}

.contacts-item:last-child > ul {
    font-weight: 200;
    font-size: 24px;
}

/* footer */
.footer {
    padding-top: 44px;
    padding-bottom: 44px;
}

.footer,
.footer h2 {
    font-weight: 300;
    font-size: 24px;
}

.footer-name {
    font-weight: 200;
    font-size: 40px;
}

.footer-slogan {
    font-weight: 300;
    font-size: 20px;
}

.footer-security {
    font-weight: 100;
    font-size: 20px;
}