:root {
    --main-heading-color: #FFFFFF;
    --main-text-color: #FFFFFF;
    --secondary-text-color: #D9D9D9;
    --first-background-color: #202023;
    --secondary-background-color: rgba(242, 242, 242, 0.3);
    --accent-color: #C85312;
    --hover-color: #EBAD51;
    --bg-btn-color: #B47B48;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--main-text-color);
    font-size: 24px;
    line-height: 1.2;
    background-color: var(--first-background-color);
}

.btn {
    color: currentColor;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

section,
footer {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

/* header */
.header {
    /* position: absolute; */
    position: fixed;
    width: 100%;
    padding-top: 56px;
    backdrop-filter: blur(10px);
    padding-bottom: 20px;
    z-index: 1;
}

.nav-list {
    display: flex;
    gap: 30px;
    font-weight: 200;
}

.nav-list a {
    transition: text-decoration 500ms ease-in-out;
}

.nav-list a:hover {
    text-decoration: underline;
}

/* hero */

.hero {
    padding-top: 156px;
    padding-bottom: 36px;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    margin-bottom: 24px;
    font-weight: 200;
    font-size: 70px;
}

.hero-text {
    margin-bottom: 48px;
    width: 570px;
    font-weight: 300;
    font-size: 21px;
}

.hero-btn,
.modal-btn {
    padding: 14px 36px;
    margin-bottom: 124px;
    border-radius: 16px;
    background-color: var(--bg-btn-color);
    font-weight: 300;
    font-size: 24px;
    transition: background-color 500ms ease-in-out;
}

.hero-btn:hover,
.modal-btn:hover {
    background-color: #a05a1c;
}

.hero-list {
    display: flex;
    gap: 112px;
    /* justify-content: space-between; */
}

.hero-list-item {
    position: relative;
    display: flex;
    align-items: center;
    flex-basis: calc((100% - 224px) / 3);
    padding: 4px 8px;
    background-color: #272727;
}

.hero-list-item::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(66deg, #000 0%, rgba(0, 0, 0, 0) 65%);
}

.hero-list-item:hover {
    background-color: var(--hover-color);
}

.hero-list-item > .thumb {
    height: 225px;
    min-width: 180px;
}

.thumb > img {
    height: 100%;
    object-fit: contain;
    /* object-position: bottom; */
    object-position: center;
}

.hero-list-item:first-child img {
    object-position: center -28px;
}

.hero-item-info {
    text-align: center;
}

.hero-item-info > .price {
    margin-bottom: 12px;
    font-weight: 200;
}

.hero-item-info > .name {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 16px;  
}

.hero-item-info > .btn {
    padding: 8px 22px;
    background-color: var(--accent-color);
    font-weight: 900;
    font-size: 16px;
    transition: background-color 500ms ease-in-out;
}

.hero-item-info > .btn:hover {
    background-color: #762b02;
}

/* menu */

.menu {
    padding-top: 21px;
    padding-bottom: 72px;
    padding-top: 44px;
    padding-bottom: 48px;
}

.menu-title {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 64px;
    text-align: center;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 200px;
    row-gap: 40px;
}

.menu-item {
    flex-basis: 328px;
    text-align: center;
}

.menu-item > .thumb {
    height: 250px;
    min-width: 328px;
}

.menu-item-name {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 24px;
}

.menu-item > .btn {
    padding: 4px 42px;
    border-radius: 16px;
    background-color: var(--bg-btn-color);
    font-weight: 800;
    transition: background-color 500ms ease-in-out;
}

.menu-item > .btn:hover {
    background-color: #a05a1c;
}


/* quality */
.quality {
    position: relative;
    padding-top: 90px;
    padding-bottom: 48px;
    background-image: url(../images/bg-q3.png),linear-gradient(
        rgba(32, 32, 35, 0.5), 
        rgba(32, 32, 35, 0.5)
    ), url(../images/bg-q2.png), url(../images/bg-q1.png);
    background-repeat: no-repeat;
    background-position: 820px bottom, 0px 0px, center bottom, 0px bottom, 840px bottom;
}
.quality-title {
    position: absolute;
    left: 640px;
    top: 80px;
    font-family: "Italiana", sans-serif; 
    font-size: 64px;
    font-weight: 400;
}

.quality-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 714px;
}

.quality-item {
    flex-basis: 320px;
}

.quality-item > .thumb {
    width: 320px;
    height: 320px;
}

.quality-item:first-child {
    align-self: flex-start;
}

.quality-item:last-child {
    align-self: flex-end;
}

.quality-item > ol {
    padding: 36px 8px 36px 36px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    background: var(--secondary-background-color);
    backdrop-filter: blur(36px);
    font-weight: 500;
}

/* why */
.why {
    padding-top: 56px;
    padding-bottom: 52px;
    background-image: linear-gradient(89deg, #000 0%, rgba(3, 3, 3, 0) 100%), url(../images/bg-why.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.why-title {
    margin-bottom: 120px;
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: var(--secondary-text-color);
}

.why-list {
    display: flex;
    gap: 176px;
    justify-content: center;
}

.why-item {
    text-align: center;
}

.why-item::before {
    content: "";
    width: 220px;
    height: 184px;
    display: inline-block;
    margin-bottom: 8px;
}

.why-item:nth-child(1):before {
    background-image: url(../images/order.svg);
}
.why-item:nth-child(2):before {
    background-image: url(../images/food.svg);
}
.why-item:nth-child(3):before {
    background-image: url(../images/delivery.svg);
}

.why-item > h3 {
    font-weight: 700;
    font-size: 24px;
}

/* contacts */

.contacts {
    padding-top: 64px;
    padding-bottom: 44px;
}

.contacts-title {
    margin-bottom: 44px;
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-size: 48px;
}

.contacts-wrapper {
    display: flex;
    gap: 120px;
}

.contacts-loc-map {
    height: 488px;
    width: 536px;
}

.contacts-loc-map > iframe {
    width: 100%;
    height: 100%;
}

.contacts-list {
    display: flex;
    gap: 32px;
    padding-top: 12px;
}

.contacts-item > h3 {
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 40px;
}

.contacts-item > ul > li:not(:last-child) {
    margin-bottom: 20px;
}

.contacts-item:first-child > ul {
    font-weight: 300;
    font-size: 24px;
}

.contacts-item:last-child > ul {
    font-weight: 200;
    font-size: 24px;
}

/* footer */
.footer {
    padding-top: 44px;
    padding-bottom: 44px;
}

.footer,
.footer h2 {
    font-weight: 300;
    font-size: 24px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
}

.footer-name {
    margin-bottom: 16px;
    font-weight: 200;
    font-size: 40px;
}

.footer-slogan {
    font-weight: 300;
    font-size: 20px;
}

.footer-list {
    display: flex;
    gap: 104px;
}

.footer-list-item {
    min-width: 144px;
}

.footer-list-item > h2 {
    margin-bottom: 40px;
}

.footer-security {
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}

.footer a {
    transition: color 500ms ease-in-out;
}

.footer a:hover {
    color: var(--hover-color);
}

.backdrop {
    position: fixed;
    padding: 0 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    overflow-y: auto;
    visibility: visible;
    opacity: 1;
    /* filter: blur(15px); */
    transition: opacity 500ms ease-in-out,
    visibility 500ms ease-in-out;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

/* .no-scroll {
    overflow: hidden;
} */

.modal {
    position: relative;
    width: 990px;
    padding: 94px 86px;
    border-radius: 50px;
    background-color: #FFFFFF;
    background-image: url(../images/pan.png);
    background-repeat: no-repeat;
    background-position: bottom 76px right;
    transform: scale(1);
    transition: transform 300ms, color 300ms;
}

.backdrop.is-hidden .modal {
    transform: scale(0.7);
}

.modal-title {
    margin-bottom: 40px;
    font-weight: 200;
    font-size: 48px;
    color: #000;
}

.modal-form {
    width: 412px;
}

.modal-field {
    position: relative;
}

.modal-field:first-child {
    margin-bottom: 70px;
}

.modal-label {
    position: absolute;
    top: 22px;
    left: 16px;
    font-weight: 200;
    font-size: 24px;
    color: #000;
    transition: transform 300ms, color 300ms;
}

.modal-input {
    padding: 22px 16px;
    width: 100%;
    outline: none;
    border: none;
    background-color: #f5f5f5;
}

.modal-label {
    opacity: 0;
}

.modal-input:focus + .modal-label,
.modal-input:not(:placeholder-shown) + .modal-label {
    transform: translateY(-170%);
    opacity: 1;
}

.modal-input:focus::placeholder {
    opacity: 0;
}

.modal-form > .modal-btn {
    margin-bottom: 0;
    margin-top: 54px;
}

.modal-close-icon {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bg-btn-color);
    border-radius: 50%;
    color: var(--first-background-color);
    transition: color 300ms, color 300ms;
}

.modal-close-icon:hover {
    color: var(--accent-color);
}

.scroll-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;align-items: center;
    justify-content: center;
    color: #fff;
}

.scroll-to-top .icon {
    width: 1em;
    height: 1.2em;
    fill: currentColor;
}
  